@charset "UTF-8";
@font-face {
  font-family: "HelveticaNeueLTPro";
  src: url(../fonts/HelveticaNeueLTPro-Md.eot);
  src: url(../fonts/HelveticaNeueLTPro-Md.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueLTPro-Md.otf) format("otf"), url(../fonts/HelveticaNeueLTPro-Md.svg#HelveticaNeueLTPro-Md) format("svg"), url(../fonts/HelveticaNeueLTPro-Md.ttf) format("truetype"), url(../fonts/HelveticaNeueLTPro-Md.woff) format("woff"), url(../fonts/HelveticaNeueLTPro-Md.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueLTPro";
  src: url(../fonts/HelveticaNeueLTPro-Bd.eot);
  src: url(../fonts/HelveticaNeueLTPro-Bd.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueLTPro-Bd.otf) format("otf"), url(../fonts/HelveticaNeueLTPro-Bd.svg#HelveticaNeueLTPro-Bd) format("svg"), url(../fonts/HelveticaNeueLTPro-Bd.ttf) format("truetype"), url(../fonts/HelveticaNeueLTPro-Bd.woff) format("woff"), url(../fonts/HelveticaNeueLTPro-Bd.woff2) format("woff2");
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.2;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

/*
    @세팅구역
*/
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
  font-family: "HelveticaNeueLTPro", arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input, select, button, fieldset {
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
  border: 0;
  border-color: transparent;
  background-color: transparent;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  margin: -1px;
}

.gradient-txt1 {
  background-image: linear-gradient(90deg, #0082f3, #0ef0ea);
  filter: saturate(150%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-txt2 {
  background-image: linear-gradient(90deg, #05cafe, #2f32cf);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-txt3 {
  background-image: linear-gradient(90deg, #e400ff, #f50d5b);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-txt4 {
  background-image: linear-gradient(90deg, #e4f12e, #56db63);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-txt5 {
  background-image: linear-gradient(90deg, #bd039f, #9460e4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-txt6 {
  background-image: linear-gradient(90deg, #04fccb, #40fd8f);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.line {
  display: inline-block;
  width: 100%;
  height: 0.2vh;
  margin: 5.5vh 0;
}

.gradient-line1 {
  background-image: linear-gradient(90deg, #0082f3, #0ef0ea);
  filter: saturate(150%);
  display: inline-block;
  width: 100%;
  height: 0.2vh;
  margin: 5.5vh 0;
}

.gradient-line2 {
  background-image: linear-gradient(90deg, #05cafe, #2f32cf);
}

.gradient-line3 {
  background-image: linear-gradient(90deg, #e400ff, #f50d5b);
}

.gradient-line4 {
  background-image: linear-gradient(90deg, #e4f12e, #56db63);
}

.gradient-line5 {
  background-image: linear-gradient(90deg, #bd039f, #9460e4);
}

.gradient-line6 {
  background-image: linear-gradient(90deg, #04fccb, #40fd8f);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 2.1vh;
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
}

.sc-visual {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  padding: 61vh 5.5vh 0;
}
.sc-visual .txt-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sc-visual .txt-area .sc-title span {
  font-size: 34.2vh;
  line-height: 31.1vh;
  font-weight: 500;
  letter-spacing: -0.7vh;
}
.sc-visual .txt-area .visual-desc {
  font-size: 11vh;
  line-height: 9vh;
  font-weight: 500;
  letter-spacing: -0.13vh;
}
.sc-visual .txt-area .visual-desc > span {
  display: block;
}
.sc-visual .txt-area .visual-desc > span + span {
  margin: 5.5vh 0;
}
.sc-visual .txt-area .visual-desc .mobile {
  display: none;
}
.sc-visual .txt-area strong {
  font-size: 34.2vh;
  height: 31.1vh;
  line-height: 40vh;
  font-weight: 500;
  letter-spacing: -0.7vh;
}
.sc-visual .txt-area strong.gradient-txt4 {
  line-height: 33.8vh;
}
.sc-visual .thumb-area {
  position: absolute;
  top: -25%;
  right: 0;
  width: 400px;
  height: 100%;
  background-image: url(../images/visual.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.sc-you .group-flex1 {
  position: relative;
  height: 50vw;
}
.sc-you .group-flex1 > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-you .group-flex1 .sc-title {
  z-index: 3;
  font-size: 24vh;
  line-height: 21vh;
  font-weight: 500;
  letter-spacing: -1.7vh;
  white-space: nowrap;
  mix-blend-mode: difference;
}
.sc-you .group-flex1 .thumb-box {
  z-index: 2;
  width: 500px;
  height: 500px;
  opacity: 0.55;
  background-image: url(../images/card-thumb3.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.sc-you .group-flex2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sc-you .group-flex2 .you-desc {
  color: rgba(255, 255, 255, 0.89);
  font-size: 11vh;
  line-height: 9vh;
  font-weight: 500;
  letter-spacing: -0.13vh;
}