@font-face {
    font-family: 'PPNeueMontreal-Medium';
    src: url(../font/PPNeueMontreal-Medium.eot);
    src: url(../font/PPNeueMontreal-Medium.eot?#iefix) format('embedded-opentype'),
         url(../font/PPNeueMontreal-Medium.svg#PPNeueMontreal-Medium) format('svg'),
         url(../font/PPNeueMontreal-Medium.otf) format('otf'),
         url(../font/PPNeueMontreal-Medium.ttf) format('truetype'),
         url(../font/PPNeueMontreal-Medium.woff) format('woff'),
         url(../font/PPNeueMontreal-Medium.woff2) format('woff2');

    font-weight: 530;
    font-style: normal;
  }
  