.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 2.1vh;
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
}

// header responsive start
@include laptop {
    .header {
        padding: 21px;
    }
}
@include tablet {
    .header {
        padding: 13px;
    }
}
// header responsive end