.sc-visual {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    padding: 61vh 5.5vh 0;
    .txt-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .sc-title {
            span{
                font-size: 34.2vh;
                line-height: 31.1vh;
                font-weight: 500;
                letter-spacing: -.7vh;
            }
        }
        .visual-desc {
            font-size: 11vh;
            line-height: 9vh;
            font-weight: 500;
            letter-spacing: -.13vh;
            &  > span{
                display: block;
                & + span{
                    margin: 5.5vh 0;
                }
            }
            .mobile {
                display: none;
            }
        }
        strong{
            font-size: 34.2vh;
            height: 31.1vh;
            line-height: 40vh;
            font-weight: 500;
            letter-spacing: -.7vh;
            &.gradient-txt4{
                line-height: 33.8vh;
            }
        }
    }
    .thumb-area {
        position: absolute;
        top:-25%;
        right: 0;
        width: 400px;
        height: 100%;
        background-image: url(../images/visual.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

.sc-you {
    width: 100vw;
    padding: 5.5vh;
    .group-flex1 {
        position: relative;
        height: 50vw;
        & > * {
            @include position-Center;
        }
        .sc-title{
            z-index: 3;
            font-size: 24vh;
            line-height: 21vh;
            font-weight: 500;
            letter-spacing: -1.7vh;
            white-space: nowrap;
            mix-blend-mode: difference;
        }
        .thumb-box {
            z-index: 2;
            width: 500px;
            height: 500px; 
            opacity: .55;
            background-image: url(../images/card-thumb3.png);
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
    .group-flex2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .you-desc{
            color: rgba(255,255,255,.89);
            font-size: 11vh;
            line-height: 9vh;
            font-weight: 500;
            letter-spacing: -.13vh;
        }
    }
}

.sc-app{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    padding-top: 14.4vh;
    padding-bottom: 14.4vh;
    background-color: #0e0e0e;
    .device-list {
        display: flex;
    }
    .device-item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .mockup {
        z-index: 3;
        width: 430px;
    }
    .app-display{
        position: absolute;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 375px;
        height: 813px;
        padding-top: 30px;
        border-radius: 80px;
        img{
            align-self: flex-start;
            width: 100%;
        }
    }
}

.sc-paragraph {
    width: 100vw;
    .line-wrap{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .vt-line{
        width: 0.2px;
        height: 21vh;
    }
    .paragraph{
        padding: 5.5vh 0;
        font-size: 24vh;
        line-height: 22vh;
        font-weight: 500;
        text-align: left;
    }
    .paragraph-wrap1 {
        padding: 0 5.5vh;
        .vt-line{
            background-color: rgba(255,255,255,.89);
        }
    }
    .paragraph-wrap2 {
        padding: 0 5.5vh;
        background-color: #fff;
        color: #232323;
        .vt-line{
            background-color: rgba(0,0,0,.89);
        }
        .paragraph {
            span{
                &:nth-of-type(4) {
                    display: inline-block;
                }
            }
        }
    }
}